*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}


.header-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 102px;
    box-shadow: 0 8px 6px -6px #4947479f;
    -webkit-box-shadow: 0 8px 6px -6px #4947479f;
    -moz-box-shadow: 0 8px 6px -6px #4947479f;
}

.head-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 1em 0;
    font-weight: 700;
    color: #F56A6A;
}

.head-subtitle{
    display: flex;
    width: 330px;
    justify-content: space-between;
    align-items: center;    
   
}
.icon-container {
    display: flex;
    width: 303px;
    justify-content: space-between;
    align-items: center;
}

        /* .icons{
            display: contents;
        } */

/* .cart {
    padding-right: 4px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
} */
.head-subtitle a{
    text-decoration: none;
}

.home{
    color: black;
    font-size: 25px;
    padding-right: 10px;
}
.count{
    font-size: 24px;
    position: relative;
    background-color: lightcoral;
    left: -25px;
    top: -15px;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    line-height: 31px;
    display: inline-block;
    text-align: center;
    padding-right: 2px;
}


.container-products {
    max-width:  1250px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.container-products ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #60646c;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: x-large;
}

.product-title {
    width: 45%;
}
.product-title1{
    padding-left: 201px;
}
.price {
    width: 23%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price1 {
    padding-left: 226px;
}
.quantity {
    width: 16%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.increase{
padding-right: 46px;
}

.decrease{
    padding-left: 46px;
}


.quantity1{
    padding-right: 28px;
}

.total {
    width: 16%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
    
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
    height: 100px;
}

.basketTotalContainer {
    display: flex;
    justify-content: space-between;
    margin: 33px 0 23px 0;
    padding: 10px 10px;
    margin-left: 810px;
    border: 3px solid #eaeaea;
    border-radius: 10px;
    position: relative;

}

hr{
    transform: 90d;
}

.basketTotalTitle{
    padding-top: 10px;
    padding-bottom: 20px;
}
.sub{
    padding-top: 10px;
}
.basketTotal{
    padding-top: 20px;
    padding-bottom: 10px;
}
.empty{
    top: 60px;
    right: 0px;
    border-top: 3px solid #eaeaea;
    width: 436px;
    position: absolute;
}
.title-title{
    padding-bottom: 10px;
}

.close, .decrease, .increase{
    cursor: pointer;
}

.mainCost{
    width: 100%;
    position: relative;
    top: 100px;
    margin: 50px auto 0 auto;
    max-width: 1250px;
}


.check-out{
    display: flex;
    width: 439px;
    justify-content: center;
    padding: 12px;
    margin-left: 810px;
    font-weight: 600;
    font-size: 1em;
    border-radius: 5px;
    color: white;
    background-color: #404040;}

    .check-out:hover{
        background-color: black;
    }
