* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-color: #F6F7FB;
}

.collapse {
    top: 30px;


}

.navbar {
    padding: 0;
    width: 150px;
    height: 150px;
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar .container-fluid {

    padding: 0;
    justify-content: center;
}

.navbar .bg-dark {
    background-color: #393d46;
}

.list-content {
    color: rgb(255, 255, 255);
    list-style-type: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.list-content li {
    padding: 10px 20px;
    line-height: 20px;
    font-weight: 500;
    font-size: 15px;
}

.nav-li {
    background-color: #393d46;

}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;

}

.icon-container {
    display: flex;
    width: 330px;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: contents;
}

/* 
.first-active{
    background-color: #939599;
} */

.btn {
    width: 105px;
    background-color: #939599;
}

.mobile-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 150px;
    z-index: 1;
}

.mid-container {
    display: flex;
    justify-content: space-evenly;
    height: 770px;
    margin: 0px 150px 150px 150px;
    background-color: white;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.text-container {
    margin-top: 184px;
    margin-left: 99px;
}

.title-text h1 {
    color: #393D46;
    font-family: "Poppins", Sans-serif;
    font-size: 100px;
    font-weight: 00;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.title-text p {
    color: #68768E;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.2em;
    margin-bottom: 20px;
}

.image-container {
    padding-left: 125PX;

}

.image-container img {
    margin-top: 70px;
    width: 626px;
    height: 700px;
}

.price-tag {
    margin-top: 70px;
    margin-bottom: 42px;

}

.first-price {
    color: #68768E;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1em;
}

.second-price {
    color: #393D46;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.shop-btn {
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5em;
    color: #393D46;
    background-color: #F6F7FB;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #393D46;
    padding: 16px 62px 16px 62px;
}

.shop-container {
    padding: 130px 150px 75px 150px
}

.shop-title {
    margin-bottom: 40px;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.shop-title h1 {
    color: #393D46;
    font-family: "Poppins", Sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 2em;
    margin: 0;
}


.shop-product {
    display: grid;
    /* width: 100%; */
    gap: 30px 30px;
    grid-template-columns: repeat(4, 1fr);
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* padding: 20px; */
}

.shop-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 20px 20px;
    background-color: #ffffff;

}

/* .square {
    display: block;
      line-height: 170px;
      font-size: 13px;
      text-align: center;
      letter-spacing: 0;
      text-shadow: 0 1px 1px rgb(0 0 0 / 60%);
      text-transform: uppercase;
      color: #fff;
      background-color: #ff2a13;
      border-radius: 0;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      position: absolute;
      height: 100px;
      width: 200px;
      z-index: 1;
      left: -100px;
      top: -50px;
      right: auto;
      margin: 0;
      padding: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    } */

.img-squre {
    width: 255px;
    height: 250px;
}

.img-redius {
    border-radius: 50%/35%;
    width: 216px;
    height: 300px;
}

.img-text {
    color: #393D46;
    font-family: "Poppins", Sans-serif;
    text-align: center;

}

.img-text h3 {
    color: #393D46;
    font-family: "Poppins", Sans-serif;
    line-height: 1.5em;
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 12px;
}

.img-text span {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

/* .line-through{
    text-decoration: line-through;
} */
.buy-button {
    width: 100%;
    padding: 15px;
}

.buy-btn {
    width: 100%;
    background-color: #393D46;
}

.btn-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    color: white;
}

.overlay-container {
    height: 453px;
    background-color: #393d46;
    margin: 130px 150px 0px 150px;

}

.overlay-container h1 {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
    padding: 120px 90px 50px 90px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 430px);
    gap: 0px 30px;
    justify-content: center;
    margin-top: -193px;
    padding: 0px 90px 100px 90px;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.main-box {
    width: 430px;
    height: 343px;
    margin: 0;
    padding: 50px 40px 50px 40px;
    background-color: white;
}

.box-icon {
    margin-bottom: 35px;
}

.box-text h2 {
    color: #393D46;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.box-text p {
    color: #68768E;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8em;
    margin-bottom: 33px;
}

.box-text h3 {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    color: #393D46;
}

.photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-half {
    width: 100%;
    height: 502.25px;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(246, 247, 251, 1) 100%);

}

.second-half {
    width: 100%;
    height: 502.25px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 240, 1) 100%);
}

.main-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: -255px 150px 0px 150px;
    position: absolute;
    z-index: 1;
}

.first-collection {
    display: flex;
    width: 786.5px;
    height: 582.25px;
    margin: 15px;
    background-color: white;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.second-collection {
    display: flex;
    width: 786.5px;
    height: 582.25px;
    margin: 15px;
    background-color: white;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.photo-collection img {
    margin: 12px 12px 12px 0;
    width: 381.25px;
    height: 558.25px;
}

.text-collection {
    padding: 40px 40px 50px 50px;
}

.text-collection h6 {
    color: #393D46;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5em;
    margin-bottom: 100px;
}

.text-collection h3 {
    color: #393D46;
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 20px;
}

.text-collection p {
    color: #68768E;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9em;
    margin-bottom: 20px;
}

.photo-btn {
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5em;
    color: #393D46;
    background-color: rgba(57, 61, 70, 0);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #393D46;
    border-radius: 0px 0px 0px 0px;
    padding: 16px 32px 16px 32px;
}

.photo-btn:hover {
    background-color: #393d46;
    color: #ffffff;
}

.brand-icon {
    display: flex;
    justify-content: space-evenly;
    padding-top: 300px;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bottom-container {
    display: flex;
    justify-content: space-evenly;
    height: 650px;
    margin: 130px 150px 150px 150px;
    background-color: white;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 801.5px;
    padding-left: 100px;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bottom-text h3 {
    color: #393D46;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.bottom-text p {
    color: #68768E;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2em;
    margin-bottom: 20px;
}

.bottom-price {
    margin-top: 70px;
    margin-bottom: 42px;
}

.bottom-img {
    display: flex;
    justify-content: end;
    margin: 20px 20px 20px 0px;
    width: 801.5px;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.end-container {

    padding: 150px 150px 0px 150px;
    height: 927px;
    background-color: white;
}

.end-img-container {
    background-color: #393d46;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.end-main-border{
    height: 100%;
   padding: 10px;
}
.end-border {
    border: 1px solid white;
   
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #393d46;
}

.end-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 0px 80px 90px;
    justify-content: center;
    color: white;
}

.end-text h3 {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.end-text h2 {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.end-text p {
    color: #C3CAD6;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2em;
    margin-bottom: 40px;
}

.end-img {
    display: flex;
    align-items: flex-end;
    width: 440px;
    height: 441px;
    margin: 41px 90px -11px 0px;
}

.end-img img {
    width: 440px;
    height: 441px;

}

.end-shop-btn {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    color: #FFFFFF;
    background-color: rgba(57, 61, 70, 0);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    padding: 16px 60px 16px 60px;
}

.end-shop-btn:hover {
    background-color: white;
    color: #393d46;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 0px 70px 0px;
}

.end-icon{
    width: 150px;
    display: flex;
    justify-content: space-between;
}